{% extends 'base.twig' %}

{% block title %}{{ formTitle }}{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <p>boto friend list / boto friend requests</p>
        </div>
    </section>
{% endblock %}
