{% extends 'base.twig' %}

{% block title %}{{ formTitle }}{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-2">
                    <button class="button has-text-centered is-info is-large">FRIENDS LIST</button>
                </div>
                <div class="column is-2">
                    <button class="button has-text-centered is-info is-large">FRIEND REQUESTS</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
