{% extends 'base.twig' %}

{% block title %}Search youtube videos!{% endblock %}

{% block content %}
    <h1>Search youtube videos!</h1>
    <form action="{{ formAction }}" method="POST" accept-charset="utf-8">
        <input type="text"
                name="searchQuery"
               value="">
        <input type="submit" value="Search!">
    </form>
    {% if videos %}        
        <ol>
        {% for video in videos %}
             <li><a href="https://www.youtube.com/watch?v={{video.link}}" target="_blank">{{ video.title }}</a></li>
        {% endfor %}
        </ol>
    {% endif %}
    <form action="{{ formLogOutAction }}" method="POST" accept-charset="utf-8">
         <input type="submit" value="LogOut">
    </form>
    
{% endblock %}